/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}



.flex-container {
  display:flex;
}

.card {
  min-height: 10rem;
  min-width: 7rem;
  cursor: pointer;
  background-color: grey;
  margin: 1rem;
}
